<div class="banner">
      <div id="slide-holder">
        <div id="slide-runner">
            <a href="/" target="_blank"><img id="slide-img-1" src="/uploads/{{ad_list.0.image_url}}"  alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-2" src='/uploads/{{ad_list.1.image_url}}'  alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-3" src='/uploads/{{ad_list.2.image_url}}' alt="" /></a>
            <a href="/" target="_blank"><img id="slide-img-4" src='/uploads/{{ad_list.3.image_url}}' alt="" /></a>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>

    <script>
    if(!window.slider) {
    var slider={};
  }

  slider.data= [
    {
        "id":"slide-img-1", // 与slide-runner中的img标签id对应
        "client":"{{ ad_list.0.title }}",
        "desc":"{{ ad_list.0.description}}" //这里修改描述
    },
    {
        "id":"slide-img-2",
        "client":"{{ ad_list.1.title }}",
        "desc":"{{ ad_list.1.description}}"
    },
    {
        "id":"slide-img-3",
        "client":"{{ ad_list.2.title }}",
        "desc":"{{ ad_list.2.description}}"
    },
    {
        "id":"slide-img-4",
        "client":"{{ ad_list.3.title }}",
        "desc":"{{ ad_list.3.description}}"
    }
  ];

    </script>
</div>
    <!-- banner代码 结束 -->